@import '../../styles/variables';

.wires-list {
  width: 100%;
}

table.wires-list-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  tbody {
    border-bottom: 1px solid $c-mediumgrey;
    text-align: left;
    td {
      min-width: 50px;
      padding: 5px 5px;
    }
    td.channelId,
    td.peerAccount {
      max-width: 70px;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td.peerAccount {
      font-weight: bold;
    }
  }
}
